html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Calibri, serif;
    height: 100%;
}

.content.error {
    flex-direction: column;
}

.employees {
    width: 50%;
    max-height: 60%;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 23px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 23px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 23px 1px rgba(34, 60, 80, 0.2);
}

.employees__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.employees__item {
    width: auto;
    border-bottom: 1px solid rgba(223, 226, 226, 0.6);
    margin: 5px 10px;
    transition: opacity .2s ease-in-out, border-bottom-color .2s ease-in-out;
}

.employees__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #05386B;
    color: #fff;
    font-size: 21px;
    letter-spacing: 1px;
}

.employees__title {
    text-align: left;
    margin: 0;
    padding: 5px 20px;
}

.employees__btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.employees__btn:hover {
    opacity: .7;
}

.employees__btn:active {
    transition: opacity 0s;
    opacity: 1;
}

.employees__link {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.employees__item:hover {
    opacity: .7;
    border-bottom: 1px solid rgba(5, 56, 107, 0.7);
}

.title {
    font-size: 50px;
}

.subtitle {
    font-size: 28px;
}

.profile {
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0 0 23px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 23px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 23px 1px rgba(34, 60, 80, 0.2);
    border-radius: 4px;
    padding: 25px;
    height: 150px;
}

.profile__avatar {
    width: 150px;
    background-color: #05386B;
    text-align: center;
    border-radius: 100px;
}

.profile__avatar-txt {
    font-size: 35px;
    color: #fff;
    margin: 35% 0;
}

.profile__info {
    margin-left: 20px;
    max-width: 350px;
}

.profile__name {
    font-size: 20px;
    font-weight: bold;
}

.profile__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile__item {
    margin-bottom: 5px;
}